<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- overriding for Status class -->
    <preference for="Magento\Framework\Module\Status" type="Maginium\Foundation\Interceptors\Framework\Module\Status" />

    <!-- overriding for TypeResolver class -->
    <preference for="Magento\Framework\EntityManager\TypeResolver" type="Maginium\Foundation\Interceptors\EntityManager\TypeResolver" />

    <!-- overriding for ServiceInputProcessor class -->
    <preference for="Magento\Framework\Webapi\ServiceInputProcessor" type="Maginium\Foundation\Interceptors\Framework\Webapi\ServiceInputProcessor" />

    <!-- Dumper Interceptor -->
    <type name="Magento\Framework\App\Http">
        <plugin name="register_dumpers" type="Maginium\Foundation\Interceptors\App\RegisterDumpers" />
    </type>

    <!-- Configure AssetManager arguments -->
    <type name="Maginium\Foundation\Setup\AssetManager">
        <arguments>
            <!-- Define file extensions -->
            <argument xsi:type="array" name="fileExtensions">
                <!-- JPG files -->
                <item xsi:type="string" name="jpg">jpg</item>

                <!-- PNG files -->
                <item xsi:type="string" name="png">png</item>

                <!-- SVG files -->
                <item xsi:type="string" name="svg">svg</item>

                <!-- GIF files -->
                <item xsi:type="string" name="gif">gif</item>

                <!-- WEBP files -->
                <item xsi:type="string" name="webp">webp</item>

                <!-- JPEG files -->
                <item xsi:type="string" name="jpeg">jpeg</item>
            </argument>
        </arguments>
    </type>
</config>
