<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Overriding for Status class -->
    <preference for="Magento\Framework\Module\Status" type="Maginium\Foundation\Interceptors\Framework\Module\Status" />

    <!-- Overriding for TypeResolver class -->
    <preference for="Magento\Framework\EntityManager\TypeResolver" type="Maginium\Foundation\Interceptors\EntityManager\TypeResolver" />

    <!-- Overriding for ServiceInputProcessor class -->
    <preference for="Magento\Framework\Webapi\ServiceInputProcessor" type="Maginium\Foundation\Interceptors\Framework\Webapi\ServiceInputProcessor" />

    <!-- Configure AssetManager arguments -->
    <type name="Maginium\Foundation\Setup\AssetManager">
        <arguments>
            <!-- Define file extensions -->
            <argument xsi:type="array" name="fileExtensions">
                <!-- JPG files -->
                <item xsi:type="string" name="jpg">jpg</item>

                <!-- PNG files -->
                <item xsi:type="string" name="png">png</item>

                <!-- SVG files -->
                <item xsi:type="string" name="svg">svg</item>

                <!-- GIF files -->
                <item xsi:type="string" name="gif">gif</item>

                <!-- WEBP files -->
                <item xsi:type="string" name="webp">webp</item>

                <!-- JPEG files -->
                <item xsi:type="string" name="jpeg">jpeg</item>
            </argument>
        </arguments>
    </type>

    <!-- Configure providers for the ServiceProvider Registry -->
    <type name="Maginium\Framework\Application\ServiceProvider\Registry">
        <arguments>
            <!-- List of service providers to be registered -->
            <argument xsi:type="array" name="providers">
                <!-- Dumper service provider -->
                <item xsi:type="object" name="dumper_service_provider">Maginium\Foundation\Providers\DumpersServiceProvider</item>

                <!-- Foundation service provider -->
                <item xsi:type="object" name="foundation_service_provider">Maginium\Foundation\Providers\FoundationServiceProvider</item>
            </argument>
        </arguments>
    </type>
</config>
